.wrapper {
  display: flex;
  box-sizing: border-box;
  width: var(--t-notify-width);
  margin-top: 25px;
  border: 2px solid;
  animation-duration: 500ms;
  animation-fill-mode: both;
}

.icon {
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 16px 16px;
  vertical-align: top;
}

.content {
  display: flex;
  flex-shrink: 1;
  box-sizing: border-box;
  padding: 20px 0 20px 20px;
  font-size: 16px;
  line-height: 24px;

  @nest
  & [data-texttype="error"] {
    color: var(--t-notify-white-200);
  }
}

.close {
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  height: 100%;
  margin-right: 0;
  margin-left: auto;
  padding: 20px 24px;
  cursor: pointer;
}
