:global .rt-notify-enter {
  /* opacity: 0; */
  animation-name: var(--rt-notify-in-animation);
}

:global .rt-notify-enter-active {
  /* opacity: 1;
  transition: opacity 500ms ease-in; */
}

:global .rt-notify-exit {
  /* opacity: 1; */
}

:global .rt-notify-exit-active {
  /* opacity: 0;
  transition: opacity 500ms ease-in; */
  animation-name: var(--rt-notify-out-animation);
}

@global-import './effects/fade/in.css';
@global-import './effects/fade/out.css';
@global-import './effects/zoom/in.css';
@global-import './effects/zoom/out.css';
@global-import './effects/bounce/in.css';
@global-import './effects/bounce/out.css';
