:global .rt-notify-root.top,
:global .rt-notify-root.bottom {
  right: 0;
  left: 0;
  margin: 0 auto;
}

:global .rt-notify-root.left,
:global .rt-notify-root.right {
  bottom: 0;
}

:global .rt-notify-root.top {
  top: 0;
  padding: 15px 0 0 0;
}

:global .rt-notify-root.bottom {
  bottom: 0;
  padding: 0 0 15px 0;
}

:global .rt-notify-root.left {
  left: 0;
  padding: 0 0 15px 15px;
}

:global .rt-notify-root.right {
  right: 0;
  padding: 0 15px 15px 0;
}
