/* stylelint-disable keyframe-selector-notation */
@keyframes zoom-in {
  from {
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
@keyframes zoom-in-bottom {
  from {
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    opacity: 1;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoom-in-left {
  from {
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    opacity: 1;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoom-in-right {
  from {
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    opacity: 1;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoom-in-top {
  from {
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    opacity: 1;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
