@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}
@keyframes zoomOutBottom {
  40% {
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    opacity: 1;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    opacity: 0;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomOutLeft {
  40% {
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
    opacity: 1;
  }

  to {
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center;
    opacity: 0;
  }
}
@keyframes zoomOutRight {
  40% {
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
    opacity: 1;
  }

  to {
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center;
    opacity: 0;
  }
}
@keyframes zoomOutTop {
  40% {
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    opacity: 1;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    opacity: 0;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
